/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

#footer {
	height: 60px;
	background-color: whiteSmoke;
	bottom:0; left:0; 
	position:fixed;
	padding-left: 20px;
	padding-right: 20px;
	width:100%;
}

.container .credit {
	margin: 20px 0;
}

.muted {
	color: #999;
}
