<div class="container">
	<p class="muted credit">&copy; Powered by <a href="http://rubyonrails.org/">Rails 3.2</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap 2.0</a>, from <a href="http://twitter.com/">Twitter</a>.</p>
</div>
