<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
<a class="brand" href="#">Lista rzeczy do zrobienia</a>
<div class="nav-collapse">
  <ul class="nav">
    <li><%= link_to "Strona główna", '#' %>
    <li><%= link_to "Kontakt", '#' %>
  </ul>
</div>
