<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
<a class="brand" href="#">Lista rzeczy do zrobienia</a>
<div class="nav-collapse collapse">
  <ul class="nav">
	  <li class="active"><%= link_to "Strona główna", '/todos' %></li>
	  <li><%= link_to "Kontakt", '#' %></li>
  </ul>
</div>
